@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixin' as *;

.video {
    &__container {
        padding: 1rem;
        font-size: 13px;
        @include tablet {
            padding-left: 2.25rem;
            padding-right: 2.25rem;
            padding-top: 0;
            font-size: 14px;
            @include desktop {
                padding-left: 8rem;
                padding-right: 0rem;
            }
        }
    }
    &__header {
        border-bottom: 1px solid $Mercury;
        font-size: 24px;
        margin: auto;
        @include tablet {
            border: none;
            margin-bottom: -1rem;
        }
    }
    &__details {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $Mercury;
        @include desktop {
            padding-right: 1rem;
        }
        &__item1 {
            font-size: .8125rem;
        }
        &__item2 {
            font-size: .8125rem;
            color: $Silver;
        }
        &__box1 {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: space-between;
            font-size: 13px;
            line-height: 1.125rem;
            @include tablet {
                flex-direction: row;
                justify-content: flex-start;
                gap: 3rem;
            }
        }
        &__box2 {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: space-between;
            font-size: 13px;
            line-height: 1.125rem;
            align-items: flex-end;
            @include tablet {
                flex-direction: row;
                justify-content: flex-end;
                gap: 3rem;
            }
        }
    }
    &__box {
        @include tablet {
            line-height: 1.375rem;
            @include desktop {
                padding-right: 1rem;
            }
        }
    }
}