@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixin' as *;

.nextVideo {
    &__container {
        padding: 1rem;
        font-size: 13px;
        @include tablet {
            padding: 0 2.25rem 2.25rem 2.25rem;
            @include desktop {
                padding: 0 8rem 2.25rem 1rem;
            }
        }
    }
    &__header {
        color: $Silver;
    }
    &__box {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        padding-bottom: 1rem;
        &__details {
            width: 75%;
            &__title {
                font-weight: 700;
                padding-bottom: 1rem;
            }
            &__image {
                width: 7.5rem;
                height: 4rem;
                border-radius: .25rem;
                object-fit: cover;
                object-position: center;
                @include desktop {
                    width: 11.5rem;
                    height: 5rem;
                }
            }
            &__box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
                @include tablet {
                    width: 25%;
                    @include desktop {
                        width: 60%;
                    }
                }
            }
        }
    }
}